.collection-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 90px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.product-image.playing {
    border: 3px solid #c66565;
}


.play-button {
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: #c66565;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
}

.play-button:hover {
    transform: scale(1.1);
    background: #e3411e;
}

.cart-button {
    cursor: pointer;
}

.cart-button img {
    width: 35px;
    height: 35px;
}

.product-title,
.product-price {
    position: relative;
    z-index: 1;
}


.dark-mode .product-card::before {
    background: radial-gradient(circle at center, transparent 30%, #6c6767 100%);
}

.dark-mode .play-button {
    background: #6c6767;
}

.dark-mode .play-button:hover {
    background: #878686;
}