.collection-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 90px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.product-image.playing {
    border: 3px solid #c66565;
}


.play-button {
    position: absolute;
    bottom: 27px;
    right: 10px;
    background: #c66565;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
}

.play-button:hover {
    transform: scale(1.1);
    background: #e3411e;
}

/*Cart Button*/
.cart-button {
    position: absolute;
    bottom: 27px;
    left: 10px;
    background: #c66565;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
}

.cart-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-button:hover {
    transform: scale(1.1);
    background: #e3411e;
}


.cart-button {
    cursor: pointer;
}

.cart-button img {
    width: 35px;
    height: 35px;
}

.product-title,
.product-price {
    position: relative;
    z-index: 1;
}

/* Sound button specific styles */
.sound-button {
    left: 85px ;
    top: -3px !important;
    width: 35px;
    height: 35px;
    z-index: 20;
}

.sound-button-wrapper {
    position: relative;
}

.sound-button.muted .user-button-icon {
    opacity: 0.6;
}

.user-button-container.theme-button,
.user-button-container.sound-button {
    width: 45px;
    height: 45px;
}

/* Ensure icons scale properly */
.user-button-container.theme-button img,
.user-button-container.sound-button img {
    width: 100%;
    height: 100%;
}

.muted-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}


.dark-mode .product-card::before {
    background: radial-gradient(circle at center, transparent 30%, #6c6767 100%);
}

.dark-mode .play-button {
    background: #6c6767;
}

.dark-mode .play-button:hover {
    background: #878686;
}

/* Cart Button Dark Mode Styling */
.dark-mode .cart-button {
    background: #6c6767;
}

.dark-mode .cart-button:hover {
    transform: scale(1.1);
    background: #878686;
}