/* frontend/src/Pages/LoginPage.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10vh; /* 10% from the top */
    gap: 10px; /* Adds space between elements */
}

.text-box {
    width: 30vw; /* 50% of the viewport width */
    height: 30px; /* 5% of the viewport height */
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.title {
    font-size: 32px;
    text-align: center;
}

.label {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}