.main-container {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
    height: 60vh;
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rotating-image {
    width: auto;
    height: 80%;
    animation: rotate 20s linear infinite;
}

.rotating-image.reverse {
    animation: rotate-reverse 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.dark-mode .rotating-image {
    filter: brightness(0.8);
}